@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: aliceblue;
    background: linear-gradient(to right,rgb(238, 239, 212), rgb(226, 190, 237));
}

.container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 20px;
    margin: 20px 0px;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: rgb(106, 28, 241);
    color: white;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 10px 45px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    margin-top: 10px;
}

.container button.hidden {
    background-color: transparent;
    border-color: white;
}

.container form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input {
    background-color: rgb(223, 223, 223);
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 8px;
    outline: none;
    font-size: 13px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icon {
    margin: 20px 0;
}

.social-icon a {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20%;
    margin: 0 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 15px 0 100px;
}

.toggle {
    background-color: rgb(106, 28, 241);
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: white;
    position: relative;
    left: -100%;
    width: 200%;
    height: 100%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    
}

.toggle-left {
    transform: translateX(-200%);
}

.toggle-right {
    right: o;
    transform: translateX(o);
}